In [153]:
import numpy as np
import pandas as pd

In [215]:
df = pd.DataFrame([[1, 'NaN', 2, 4],[2, 'NaN', 0, 'NaN'], [3, 4, 'NaN', 6], [1, 2, 3, 4], [1,2,3,4]])
df

   0    1    2    3
0  1  NaN    2    4
1  2  NaN    0  NaN
2  3    4  NaN    6
3  1    2    3    4
4  1    2    3    4

In [216]:
# 코드 안돌아감
m = df != 'NaN'
boolean = m.all(axis='columns')
m['boolean']= boolean
df.where(m.boolean, other='NaN')

     0    1    2    3
0  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3    1    2    3    4
4    1    2    3    4

In [185]:
for col in df.columns:
    # 해당 칼럼에 하나라도 nan값이 있으면
    if df[col].isnull().any():
        for i in range(len(df)):
            # 해당 인덱스의 값이 nan면
            if np.isnan(df.loc[i, col]):
                # 해당 인덱스부터 뒤까지 전부 선택
                df.loc[i:, col] = np.nan
                break # 계속 반복할 필요없으니
df

   0   1    2    3
0  1 NaN  2.0  4.0
1  2 NaN  0.0  NaN
2  3 NaN  NaN  NaN
3  1 NaN  NaN  NaN
4  1 NaN  NaN  NaN